<h1 mat-dialog-title>Confirm Proposal Details :</h1>
<div mat-dialog-content class="mat-dialog" fxLayout="column nowrap" fxLayoutAlign="space-around center">
    <div class="form-container">
        <form [formGroup]="extendProposalForm">
            <div gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="2em" class="grid-container">
                <mat-form-field>
                    <mat-label class="form-label">Registration Start date:</mat-label>
                    <input matInput [matDatepickerFilter]="RegStartDateFilter" [matDatepicker]="picker2" placeholder="{{data.regStartDate | date: 'mediumDate'}}" formControlName="regStartDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 disabled="false"></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label class="form-label">Registration End date:</mat-label>
                    <input matInput [matDatepickerFilter]="RegEndDateFilter" [matDatepicker]="picker3" placeholder="{{data.regEndDate | date: 'mediumDate'}}" formControlName="regEndDate">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3 disabled="false"></mat-datepicker>
                </mat-form-field>
                <div class="spacer"></div>
                <div style="justify-self: end;">
                    <button mat-raised-button color="primary" (click)="onSubmit(data,extendProposalForm)" [disabled]="!extendProposalForm.valid" class="padded-btn">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>